<web-app>
  <display-name>Archetype Created Web Application</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>tienda.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>tienda.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>tienda.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RecogerCarrito</servlet-name>
		<servlet-class>tienda.RecogerCarrito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecogerCarrito</servlet-name>
		<url-pattern>/recogercarrito.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CambiarContra</servlet-name>
		<servlet-class>tienda.CambiarContra</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambiarContra</servlet-name>
		<url-pattern>/CambiarContra.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterPedido</servlet-name>
		<servlet-class>tienda.RegisterPedido</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterPedido</servlet-name>
		<url-pattern>/RegisterPedido.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CambiarEstado</servlet-name>
		<servlet-class>tienda.CambiarEstado</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CambiarEstado</servlet-name>
		<url-pattern>/CambiarEstado.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VaciarSesionCarrito</servlet-name>
		<servlet-class>tienda.VaciarSesionCarrito</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VaciarSesionCarrito</servlet-name>
		<url-pattern>/VaciarSesionCarrito.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnviarMensaje</servlet-name>
		<servlet-class>tienda.EnviarMensaje</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnviarMensaje</servlet-name>
		<url-pattern>/EnviarMensaje.html</url-pattern>
	</servlet-mapping>
</web-app>
